@charset "utf-8";

h1 {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
}

h2,h5 {
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    background: #DCFFDC;/*背景色*/
    border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}

table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    padding: 10px;
    background: #778ca3;
    border: solid 1px #666666;
    color: #ffffff;
}

td{
    padding: 10px;
    border: solid 1px #666666;
    width: 10%;
}

.main {
    background: #e9faf9;
}

.info{
    background:#ffaf58;
    color: #f4f4f4;
}
